@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto:wght@500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: 0.25s;
  font-family: "Poppins", sans-serif;
  font-family: 700;
}

body {
  height: 100vh;
  background: #f0f2f5;

  &::-webkit-scrollbar {
    display: none;
  }
  nav {
    position: relative;
    left: 0;
    right: 0;
    height: 99px;
    background: #4027d7;
    border-radius: 20px;
    margin: 20px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;

    h1 {
      font-weight: bold;
      color: transparent;
      margin-left: 30px;
      letter-spacing: 1px;
      background: white;
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: tex;
      font-size: 2rem;
    }

    .nav_sidebar {
      margin-right: 10%;
      position: relative;

      span {
        position: absolute;
        color: white;
        font-weight: bold;
        top: -50%;
        right: -50%;
        width: 15px;
        text-align: center;
        border-radius: 20px;
        font-size: 15px;
        background-color: red;
        transform: scale(0);
        transition: 0.5s;
      }

      input {
        position: absolute;
        top: -500%;

        &:checked ~ .sale {
          transform: scale(1);
        }
      }

      label {
        i {
          color: white;
          font-size: 1.7rem;
        }
      }

      .sale {
        background-color: rgba(0, 0, 0, 0.603);
        position: absolute;
        bottom: -160px;
        left: -120px;
        border-radius: 10px;
        padding: 20px;
        color: white;
        pointer-events: none;
        transform: scale(0);
        transform-origin: top;
        transition: 0.2s;

        .in {
          display: flex;
          min-width: 70px;
          gap: 50px;
          font-weight: bold;
          margin-bottom: 30px;
        }

        .total {
          text-align: center;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;
        }

        &::after {
          content: "";
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 20px solid rgba(0, 0, 0, 0.603);
          position: absolute;
          bottom: 100%;
          right: 20px;
        }
      }
    }
  }

  .srch_bar {
    display: flex;
    width: 100%;
    justify-content: center;

    margin-bottom: 100px;

    input {
      height: 38px;
      width: 80%;
      border: 1px solid #4e4d8b;
      border-radius: 10px;
      outline: none;
      padding: 0px 10px;

      &:focus {
        border: 1px solid rgb(0, 55, 255);
      }
    }

    label {
      i {
        font-size: 2.2rem;
        margin-left: 10px;
        color: #4b4a8e;
        font-weight: bold;
      }
    }
  }

  .main {
    left: 0;
    right: 0;
    height: 72vh;
    position: relative;

    .anchor {
      display: flex;
      position: absolute;
      top: -10%;
      left: 20px;
      height: 32px;
      z-index: 2;
      gap: 10px;

      #filter {
        position: absolute;
        transform: translateX(-1000px);

        &:checked ~ label ~ div {
          width: 200px;
        }
      }

      label {
        height: 100%;
        cursor: pointer;
        span {
          color: #131a57;
          font-size: 2rem;
        }
      }

      .filter_value {
        width: 0px;
        transition: 0.5s;
        overflow: hidden;
        .anc {
          text-decoration: none;
          padding: 10px;
          font-size: 1rem;
          color: #2d2bcd;
          border: none;
          background-color: transparent;
          padding: 2px 7px;
          cursor: pointer;

          span {
            font-size: 2rem;
            pointer-events: none;
          }
        }

        .active {
          color: white;
          background-color: #4b4a8e;
          text-decoration: none;
          border-radius: 5px;
        }
      }
    }

    .contain {
      height: 100%;
      display: flex;
      flex-direction: row;
      overflow-x: hidden;
      scroll-behavior: smooth;

      #one {
        height: 100%;
        min-width: 100vw;

        ul {
          display: flex;
          flex: auto auto;
          flex-wrap: wrap;
          column-gap: 20px;
          row-gap: 30px;
          padding: 20px 0px;
          justify-content: center;

          li {
            width: 45%;
            border-radius: 10px;
            height: 250px;
            background-color: white;
            display: flex;
            flex-direction: column;
            /*  overflow: hidden; */
            justify-content: center;
            padding: 10px;
            position: relative;
            transition: 0.2s;
            min-width: 140px;
            min-height: 209px;
            border: 1px solid #c6c7c8;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

            .label {
              position: absolute;
              top: 15px;
              display: flex;
              gap: 10px;
              left: 10px;
              padding: 2px 5px;
              border-radius: 10px;
              background-color: #770cff;
              justify-content: center;
              align-items: center;
              font-size: 10px;

              h5 {
                color: white;
                font-size: 12px;
              }

              span {
                color: white;
                font-size: 15px;
              }
            }

            .img_div {
              height: 100px;
              margin-top: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              overflow: hidden;

              img {
                height: 100%;
              }
            }

            .info {
              background-color: #4019da;
              display: flex;
              width: 70px;
              height: 22px;
              justify-content: center;
              gap: 10px;
              align-items: center;
              border-radius: 10px;
              color: white;
              margin-bottom: 10px;
              margin-top: 10px;
              span {
                font-size: 15px;
              }
              h5 {
                font-size: 12px;
              }
            }

            .items {
              display: flex;
              flex-direction: column;
              overflow: hidden;

              span {
                font-size: 10px;
                font-family: "Poppins", sans-serif;
                font-weight: bold;
                color: gray;
              }
            }
          }
        }
      }
    }
  }
}
